{% extends 'base.html.twig' %}

{% block title %}
    Classe
{% endblock %}

{% block titlenumber %}
        Classe
{% endblock %}

{% block content %}


      <div class="col-12">
            <div class="card my-4">
                {{ form_start(form) }}
                    {{ form_row(form.filiere) }}
                    {{ form_row(form.niveau) }}
                    {{ form_widget(form.btnSave) }}
                {{ form_end(form) }}
            </div>
        </div>


    <div class="row row min-vh-20 bg-light text-dark">
        <form class="searchbox" action="GET">
            <button type="button" class="btn btn-primary">
              <a href="{{ path('app_classe_save') }}" class=" link-light text-decoration-none">Nouveau</a>
            </button>
        </form>
    </div>


    <div class="col-12">
            <div class="card my-4">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Libelle</th>
                            <th scope="col">Niveau</th>
                            <th scope="col">Filiere</th>
                            <th scope="col">Modules</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for classe in pagination %}
                            <tr>
                                <th scope="row">{{classe.id}}</th>
                                <td>{{classe.nomClasse}}</td>
                                <td>{{classe.filiere.libelle}}</td>
                                <td>{{classe.niveau.libelle}}</td>
                                <td>
                                    <div class="row row min-vh-20 bg-light text-dark">
                                   
                                        <button type="button" class="btn btn-warning">
                                        <a href="{{ path('app_classe_save',{id:classe.id} ) }}" class=" link-light text-decoration-none">Edit</a>
                                        </button>
                                    </div>
                                </td>   
                            </tr>
                            
                        {% endfor %}
                    </tbody>
                    </table>
                     <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                    
            </div>

{% endblock %}
