{% extends 'base.html.twig' %}


{% block title %}
    Professeur
{% endblock %}



{% block titlenumber %}
        Professeur
{% endblock %}



{% block content %}


    <!--Filtrer par -->

       <div class="col-12">
            <div class="card my-4">
                {{ form_start(form) }}
                    

                          {{ form_row(form.grade) }}
                            {{ form_row(form.classe) }}
                            {{ form_widget(form.btnSaved) }}
                {{ form_end(form) }}
            </div>
        </div>
    <!--Filtrer Fin -->

    
    <div class="row row min-vh-20 bg-light text-dark">
        <form class="searchbox" action="GET">
            <button type="button" class="btn btn-primary">
              <a href="{{ path('app_professeur_save') }}" class=" link-light text-decoration-none">Nouveau</a>
              </button>

            <button type="button" class="btn btn-primary mx-5">
             
                <a href="{{ path('app_professeur_reinscription') }}" class="mx-5 link-light text-decoration-none">Reinscription</a>
            </button>
        </form>
    </div>



            <div class="card my-4">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">nom Complet</th>
                            <th scope="col">Email</th>
                            <th scope="col">Grade</th>
                            <th scope="col">Classe</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for professeur in pagination %}
                            <tr>
                                <th scope="row">{{professeur.id}}</th>
                                <td>{{professeur.nomComplet}}</td>
                                <td>{{professeur.email}}</td>
                              
                                <td>
                                
                                    
                                    {% for grade in professeur.grade %}
                                        {{ grade.libelle }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                              
                            </td>

                                <td>
                                    
                                     {% for classe in professeur.classe %}
                                        {{ classe.nomClasse }}
                                    {% endfor %}
                                </td>
                               


                                <td>
                                    <div class="row row min-vh-20 bg-light text-dark">
                                   
                                        <button type="button" class="btn btn-warning">
                                        <a href="{{ path('app_professeur_save',{id:professeur.id} ) }}" class=" link-light text-decoration-none">Edit</a>
                                        </button>
                                    </div>
                                    
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
            </div>

            <style>
                .navigation > .pagination {
                    width:160px;
                    display:flex;
                    justify-content:space-between;
                }
                .navigation > .pagination > * {
                    padding:0.5rem;
                    background: purple;
                    color:white;
                    

                }
            </style>

{% endblock %}

